include ../mixins

doctype html
html(lang="en")
	head
		+head("Mastermind", "Mastermind made in Vanilla JavaScript")
	body
		- let colors = ["red", "orange", "yellow", "green", "blue", "purple"]
		#mastermind
			h1#mode
			#key-mode
				#key
					for _ in [1,2,3,4]
						.color-selector
							.dropdown
								for color in colors
									div(data-color=color)
							.preview
				button(name="submitKey") Set key
			#guess-mode
				#guess
					for _ in [1,2,3,4]
						.color-selector
							.dropdown
								for color in colors
									div(data-color=color)
							.preview
				button(name="submitGuess") Confirm guess
				h4#history-header
				#history
		+footer("http://www.web-games-online.com/mastermind/rules.php")