$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;

$right: #f08080;
$wrong: #999999;

$color-size: 48;

#mastermind {
    text-align: center;
}
.color-selector {
    margin: 8px 4px;
    display: inline-block;
    width: #{$color-size}px;
    height: #{$color-size}px;
    .preview {
        height: #{$color-size}px;
        width: #{$color-size}px;
        &:hover {
            border: 2px solid black;
        }
    }
    .dropdown {
        display: block;

        div {
            float: left;
            height: #{$color-size / 2}px;
            width: #{$color-size / 3}px;
            &:hover {
                border: 2px solid black;
            }
        }
    }
}
div {
    &[data-color="red"] {
        background: $red;
    }
    &[data-color="orange"] {
        background: $orange;
    }
    &[data-color="yellow"] {
        background: $yellow;
    }
    &[data-color="green"] {
        background: $green;
    }
    &[data-color="blue"] {
        background: $blue;
    }
    &[data-color="purple"] {
        background: $purple;
    }
}

#guess-mode,
#key-mode {
    display: none;
}

.square {
    width: #{$color-size}px;
    height: #{$color-size}px;
    display: inline-block;
}
.minisquare {
    float: left;
    width: #{$color-size / 3}px;
    height: #{$color-size / 3}px;
    margin: #{$color-size / 12}px;
    &.right {
        background-color: $right;
    }
    &.wrong {
        background-color: $wrong;
    }
}
