<%
var title = "Tetris";
var description = "Tetris made with pixi.js";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../_header.ejs %>
	</head>
	<body>
		<div id="container">
			<label for="startingLevel">Starting Level: </label>
			<input type="text" id="startingLevel">
			<p>Controls: Z/Up to rotate clockwise, X to rotate counterclockwise, Left/Right to shift, Space to drop quickly, Down to drop all the way, and P to pause</p>
		</div>
		<%- include ../_footer.ejs %>
	</body>
</html>