include ../mixins

doctype html
html(lang="en")
	head
		+head("Tetris", "Tetris made with pixi.js")
	body
		#container
			label(for="startingLevel") Starting Level:
				| 
			input(type="text" id="startingLevel")
			p Controls: Z/Up to rotate clockwise, X to rotate counterclockwise, Left/Right to shift, Space to drop quickly, Down to drop all the way, and P to pause
			| 
		+footer()