$bordercolor: #7b7b7b;

#minesweeper {
	border-spacing: 0px;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid $bordercolor;
	border-right: 2px solid $bordercolor;
	td {
		-webkit-touch-callout: none; /* iOS Safari */
		  -webkit-user-select: none; /* Chrome/Safari/Opera */
		   -khtml-user-select: none; /* Konqueror */
		     -moz-user-select: none; /* Firefox */
		      -ms-user-select: none; /* Internet Explorer/Edge */
		          user-select: none; /* Non-prefixed version, currently not supported by any browser */
		text-align: center;
		font-weight: bold;
		background-color: #bdbdbd;
		background-position: calc(center - 1px) calc(center - 1px);
		background-repeat: no-repeat;
		height: 20px;
		width: 20px;
		margin: 0;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
		cursor: default;
		&[data-flagged="true"] {
			// flagged
			background-image: url("images/flag.png");
		}
		&[data-hint="true"] {
			// hint
			background-image: url("images/hint.png");
		}
		&[data-activated="true"] {
			// activate tile
			border-top: 1px solid $bordercolor;
			border-left: 1px solid $bordercolor;
			border-bottom: 0;
			border-right: 0;
			&[data-bomb="true"] {
				// bomb
				background-image: url("images/bomb.png");
			}
			&[data-death-bomb="true"] {
				// death bomb
				background-image: url("images/bomb.png");
				background-color: red;
			}
			&[data-flagged="true"] {
				// misflagged
				background-image: url("images/misflag.png");
			}
			&[data-surrounding="1"] {color: blue;}
			&[data-surrounding="2"] {color: #007b00;}
			&[data-surrounding="3"] {color: red;}
			&[data-surrounding="4"] {color: #00007b;}
			&[data-surrounding="5"] {color: #7b0000;}
			&[data-surrounding="6"] {color: #006968;}
			&[data-surrounding="7"] {color: #007b7b;}
			&[data-surrounding="8"] {color: #7b7b7b;}
		}
		&[data-activated="false"] {
			border-top: 2px solid white;
			border-left: 2px solid white;
			border-bottom: 2px solid $bordercolor;
			border-right: 2px solid $bordercolor;
			&:active {
				border-top: 1px solid $bordercolor;
				border-left: 1px solid $bordercolor;
				border-bottom: 0;
				border-right: 0;
			}
		}
	}
}


// Preload images to not lag when clicking cells
body:after {
	content: url(images/bomb.png) url(images/flag.png) url(images/hint.png) url(images/misflag.png);
	display: none;
}