#minesweeper {
	border-collapse: collapse;
	td {
		border: 1px solid black;
		box-sizing: content-box;
		text-align: center;
		height: 16px;
		width: 16px;
		&[data-activated="true"] {
			background: grey;
		}
		&[data-flagged="true"] {
			background: lightcoral;
		}
		// &[data-bomb="true"] {
		// 	background: red;
		// }
	}
}