---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Pong" description="Pong made with pixi.js">
    <div id="pong" class="h-full"></div>
    <script src="../Pong/script.js"></script>
    <style>
        body {
            overflow: hidden;
        }
    </style>
</Layout>
