---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tetris" description="Tetris made with pixi.js">
    <div class="flex justify-center p-6">
        <label for="startingLevel">Starting Level: </label>
        <input type="text" id="startingLevel" />
    </div>
    <div class="flex justify-center p-6">
        <p>
            Controls: Z/Up to rotate clockwise, X to rotate counterclockwise,
            Left/Right to shift, Space to drop quickly, Down to drop all the
            way, and P to pause
        </p>
    </div>
    <div id="container" class="flex justify-center p-6"></div>
    <script src="../Tetris/script.js"></script>
</Layout>
