<%
var title = "Pong";
var description = "Pong made with pixi.js";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../_header", {title, description}) %>
	</head>
	<body>
		<%- include("../_footer") %>
	</body>
</html>