<%
var title = "Pong";
var description = "Pong made with pixi.js";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../_header.ejs %>
	</head>
	<body>
		<%- include ../_footer.ejs %>
	</body>
</html>