<%
var title = "Rubiks Cube";
var description = "A Rubiks Cube made with three.js";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../_header", {title, description}) %>
	</head>
	<body>
		<div id="rubikscube"></div>
		<div id="buttons">
			<button data-side="F">F</button>
			<button data-side="F" data-prime>F'</button>
			<button data-side="B">B</button>
			<button data-side="B" data-prime>B'</button>
			<button data-side="L">L</button>
			<button data-side="L" data-prime>L'</button>
			<button data-side="R">R</button>
			<button data-side="R" data-prime>R'</button>
			<button data-side="U">U</button>
			<button data-side="U" data-prime>U'</button>
			<button data-side="D">D</button>
			<button data-side="D" data-prime>D'</button>
			<button data-side="M">M</button>
			<button data-side="M" data-prime>M'</button>
			<button data-side="S">S</button>
			<button data-side="S" data-prime>S'</button>
			<button data-side="E">E</button>
			<button data-side="E" data-prime>E'</button>
			<button data-side="x">x</button>
			<button data-side="x" data-prime>x'</button>
			<button data-side="y">y</button>
			<button data-side="y" data-prime>y'</button>
			<button data-side="z">z</button>
			<button data-side="z" data-prime>z'</button>
		</div>
		<%- include("../_footer") %>
	</body>
</html>