include ../mixins

doctype html
html(lang="en")
	head
		+head("Minesweeper", "Minesweeper made in Vanilla JavaScript")
	body#size-20
		#xyzzy
		#outer
			#wrapper
				.row
					.item-container#numBombs 000
					.item-container
						#smiley
					.item-container#clock 000
				.row
					.item-container
						table#minesweeper
				.row
					.item-container
						select#size.extra-margin
							option(value="20" selected) Small
							option(value="30") Normal
							option(value="40") Big
					.item-container
						.flex-column-layout
							.extra-margin
								select#difficulty
									option(value="BEGINNER") Beginner
									option(value="INTERMEDIATE" selected) Intermediate
									option(value="EXPERT") Expert
							.extra-margin
								| Highscore:
								| 
								span#highscore None yet!
					.item-container
						.flex-column-layout
							.extra-margin
								label(for="hints" title="Hints act like normal tiles, but are helpful for some players")
									| Hints (?):
									| 
								input#hints(type="checkbox")
							.extra-margin
								label(for="oldfashioned" title="Click tiles with flags with both buttons rather than just the left")
									| Classic clicking:
									| 
								input#oldfashioned(type="checkbox")
		+footer()
