include mixins

doctype html
html(lang="en")
	head
		+head("Eli Gukovsky", "Boston-area software engineer", "")
	body
		#wrapper
			#cell
				#content
					h1 Eli Gukovsky
					h2 Nice to meet you!
					p I am a Boston-area software engineer, with a particular interest in web technologies.
					p
						| I've made lots of things with my friend
						| 
						a(href="http://taha.vasowalla.com") Taha Vasowalla
						| .
					p
						| You can check out my resume for more details
						| 
						a(href="assets/Eli_Gukovsky_Resume.pdf") here
						| .
					h3 Projects
					p
						a(href="Minesweeper/") Minesweeper
							| 
							i.fas.fa-desktop
							| 
							i.fab.fa-js
					p
						a(href="RubiksCube/") Rubik's Cube
							| 
							i.fas.fa-desktop
					p
						a(href="UltimateTicTacToe/") Ultimate Tic-Tac-Toe
							| 
							i.fas.fa-desktop
							| 
							i.fas.fa-mobile-alt
							| 
							i.fab.fa-js
					p
						a(href="Tetris/") Tetris
							| 
							i.fas.fa-desktop
					p
						a(href="Pong/") Pong
							| 
							i.fas.fa-desktop
					p
						a(href="Mastermind/") Mastermind
							| 
							i.fas.fa-desktop
							| 
							i.fas.fa-mobile-alt
							| 
							i.fab.fa-js
					#footer
						a(href="http://www.github.com/elicik")
							i(style="color: #4078c0").fab.fa-github
						a(href="http://www.linkedin.com/in/elicik")
							i(style="color: #0077b5").fab.fa-linkedin
						a(href="mailto:gukovskye@gmail.com")
							i(style="color: grey").far.fa-envelope
