<%
var title = "Eli Gukovsky";
var description = "CS Student at UMass Amherst, Class of 2020.";
var script = false;
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include _header.ejs %>
	</head>
	<body><div id="wrapper">
			<div id="cell">
				<div id="content">
					<h1>Eli Gukovsky</h1>
					<h2>Programmer Extraordinaire</h2>
					<p>I am a Computer Science student at UMass Amherst, Class of 2020.</p>
					<p>I make stuff, then break it, then remake it better.</p>
					<p>I am <a href="https://docs.google.com/spreadsheets/d/13TOjOZESfRCjVMTTc1Cd1IahxlZkE72A8pCDt8z5zKE/edit?usp=sharing">bad</a> at Super Smash Bros. Melee, but I love it all the same.</p>
					<p>I've made lots of things with my friend <a target="_blank" href="http://taha.vasowalla.com">Taha Vasowalla</a>.</p>
					<h3>Projects</h3>
					<p><a href="Minesweeper/">Minesweeper 📵</a></p>
					<p><a href="RubiksCube/">Rubik's Cube 📵</a></p>
					<p><a href="Tetris/">Tetris 📵</a></p>
					<p><a href="Pong/">Pong 📵</a></p>
					<p><a href="Mastermind/">Mastermind</a></p>
					<p><a href="UltimateTicTacToe/">Ultimate Tic-Tac-Toe</a></p>
					<div id="footer">
						<a href="http://www.github.com/elicik">
							<svg viewbox="2 2 20 20" style="fill: #4183C4">
								<use xlink:href="social-icons.svg#github"></use>
							</svg>
						</a>
						<a href="http://www.linkedin.com/in/elicik">
							<svg viewbox="2 2 20 20" style="fill: #287BBC">
								<use xlink:href="social-icons.svg#linkedin"></use>
							</svg>
						</a>
						<a href="http://www.twitter.com/ssbm_elicik">
							<svg viewbox="2 2 20 20" style="fill: #1DA1F2">
								<use xlink:href="social-icons.svg#twitter"></use>
							</svg>
						</a>
						<a href="mailto:gukovskye@gmail.com">
							<svg viewbox="2 2 20 20" style="fill: grey">
								<use xlink:href="social-icons.svg#email"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>