<%
var title = "Eli Gukovsky";
var description = "CS Student at UMass Amherst, Class of 2020.";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include _header.ejs %>
	</head>
	<body><div id="wrapper">
			<div id="cell">
				<div id="content">
					<h1>Eli Gukovsky</h1>
					<h2>Nice to meet you!</h2>
					<p>I am a Computer Science student at UMass Amherst, Class of 2020.</p>
					<p>I've made lots of things with my friend <a href="http://taha.vasowalla.com">Taha Vasowalla</a>.</p>
					<p>You can check out my resume <a href="assets/Eli_Gukovsky_Resume.pdf">here</a>.</p>
					<h3>Projects</h3>
					<p><a href="Minesweeper/">Minesweeper <i class="fas fa-desktop"></i> <i class="fab fa-js"></i></a></p>
					<p><a href="RubiksCube/">Rubik's Cube <i class="fas fa-desktop"></i></a></p>
					<p><a href="UltimateTicTacToe/">Ultimate Tic-Tac-Toe <i class="fas fa-desktop"></i> <i class="fas fa-mobile-alt"></i> <i class="fab fa-vuejs"></i></a></p>
					<p><a href="Tetris/">Tetris <i class="fas fa-desktop"></i></a></p>
					<p><a href="Pong/">Pong <i class="fas fa-desktop"></i></a></p>
					<p><a href="Mastermind/">Mastermind <i class="fas fa-desktop"></i> <i class="fas fa-mobile-alt"></i> <i class="fab fa-js"></i></a></p>
					<div id="footer">
						<a href="http://www.github.com/elicik">
							<i style="color: #4078c0" class="fab fa-github"></i>
						</a>
						<a href="http://www.linkedin.com/in/elicik">
							<i style="color: #0077b5" class="fab fa-linkedin"></i>
						</a>
						<a href="mailto:gukovskye@gmail.com">
							<i style="color: grey" class="far fa-envelope"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>