<%
var title = "Ultimate Tic-Tac-Toe";
var description = "Ultimate Tic-Tac-Toe made with Vue.js";
var rules = "http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe";
%>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../_header.ejs %>
	</head>
	<body>
		<div id="app">
		</div>
		<%- include ../_footer.ejs %>
	</body>
</html>